<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.novagraphbackenduserservice.infrastructure.mapper.UserPostThumbMapper">

    <resultMap id="BaseResultMap" type="com.tech.novagraphbackendmodel.user.entity.UserPostThumb">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="postId" column="postId" />
            <result property="createTime" column="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,postId,createTime
    </sql>

    <insert id="batchIgnoreInsert">
        INSERT IGNORE INTO user_post_thumb (
        userId,
        postId
        ) VALUES
        <foreach collection="thumbs" item="item" separator=",">
            (
            #{item.userId},
            #{item.postId},
            )
        </foreach>
    </insert>
</mapper>
